.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    color: #0c1021;
}

.sm{
    position: absolute;
    top:20%;
    font-size: 1.5rem;
}

.lg{
    position: absolute;
    top:25%;
    font-size: 6rem;
    font-weight: 500;
    font-style: italic;
}

.headerImg{
    width: 100%;
    height: 500px;
    margin-top: 150px;
    object-fit: cover;
}