.write{
    padding-top: 50px;
}

.writeImage{
    margin-left: 12%;
    width: 70vw;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
    /* border: 1px solid black; */
}

.writeFormGroup{
    margin-left: 12%;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(147, 141, 141);
    margin-right: 10px;
    cursor: pointer;
}

.writeInput{
    font-size: 1.5rem;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 1.2rem;
}

.writeSubmit{
    position: absolute;
    top:20px;
    right:10%;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}